{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>
                <strong>Virtual fridge</strong> helps it's users stop wasting food and fight with hunger on the world.
                <br><br>This app will notify you whenever yours food is going to expire, so you can use it and don't waste it.
                <br><br>Shopping lists will help you buy only necessary things and wih one click save it to your virtual fridge, so you don't throw away any piece.
                <br><br>Around the world, more than enough food is produced to feed the global population—but as many as 811 million people still go hungry.
                <br><br>One third of all the food that is produced for human consumption is wasted. When we waste food, we waste all the resources that go into producing and transporting the food, such as land, water and fuel use, without gaining any of the benefits of feeding people. When food ends up in landfill it also contributes to greenhouse gas emissions. Food waste remains a problem in Europe and around the world.
                <br><br>We must take action to stop this! This app will try to help you take responsibility and take care of our planet.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <img src="/static/ecology.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col" align="center">
          <img src="/static/zero_waste.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}